<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit.min.js"></script>
  <script src="https://unpkg.com/pristinejs/dist/pristine.min.js"></script>
  <script type="module" defer src="/js/user.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <title>Crear Administrador</title>
</head>

<body>
  <div class="container">
    <!-- NAVBAR -->
    <%-include('./partials/navbar.ejs', {user: user}); %>
    <main class="uk-margin-auto uk-margin-bottom uk-margin-top uk-padding-small bg-white main">
      <ul class="uk-breadcrumb">
        <li><a href="/panel">Panel</a></li>
        <li><a href="/panel/usuarios">Administradores</a></li>
        <li><span>Crear</span></li>
      </ul>

      <h1 class="uk-text-lead uk-text-center">CREAR ADMINISTRADOR</h1>

      <form id="form" method="POST" action="/panel/usuarios">
        <fieldset class="uk-fieldset">
          <legend class="uk-legend uk-text-default uk-text-bold">Datos Personales</legend>
          <div class="form-group uk-margin-small">
            <label for="userDocument" class="uk-form-label">Documento:</label>
            <input value="" class="uk-input" type="text" placeholder="28805905" name="userDocument" id="userDocument" autofocus>
          </div>
          <div class="form-group uk-margin-small">
            <label for="lastname" class="uk-form-label">Apellido:</label>
            <input value="" class="uk-input" type="text" placeholder="Gallardo" name="lastname" id="lastname">
          </div>
          <div class="form-group uk-margin-small">
            <label for="name" class="uk-form-label">Nombre:</label>
            <input value="" class="uk-input" type="text" placeholder="Daniel" name="name" id="name">
          </div>
          <div class="form-group uk-margin-small">
            <label for="password" class="uk-form-label">Contraseña:</label>
            <input value="" class="uk-input" type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" id="password">
          </div>
        </fieldset>
        <div class="uk-flex uk-flex-right">
          <button type="submit" class="uk-button uk-button-primary">Crear</button>
        </div>
      </form>
    </main>
    <!-- FOOTER -->
    <%-include('./partials/footer.ejs'); %>

  </div>

  <script>
    const isCreateScreen = true
  </script>

  <script>
    let success = '<%- JSON.stringify(success) %>';
    let error = '<%- JSON.stringify(error) %>';
    let message = '<%- JSON.stringify(message) %>';
  </script>
</body>

</html>