<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
  <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit.min.js"></script>
  <script src="https://unpkg.com/pristinejs/dist/pristine.min.js"></script>
  <script type="module" defer src="/js/allergy-types.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <title>Crear Tipo de Alergia</title>
</head>

<body>
  <div class="container">
    <!-- NAVBAR -->
    <%-include('./partials/navbar.ejs', {user: user}); %>
    <main class="uk-margin-auto uk-margin-bottom uk-margin-top uk-padding-small bg-white main">
      <ul class="uk-breadcrumb">
        <li><a href="/panel">Panel</a></li>
        <li><a href="/panel/tipos-de-alergia">Tipos de Alergia</a></li>
        <li><span>Crear</span></li>
      </ul>

      <h1 class="uk-text-lead uk-text-center">CREAR TIPO DE ALERGIA</h1>

      <form id="form" method="POST" action="/panel/tipos-de-alergia">
        <fieldset class="uk-fieldset">
          <div class="form-group uk-margin-small">
            <label for="allergyName" class="uk-form-label">Nombre:</label>
            <input value="A la pala" class="uk-input" type="text" placeholder="A la pala" name="allergyName" id="allergyName">
          </div>
        </fieldset>
        <div class="uk-flex uk-flex-right">
          <button class="uk-button uk-button-primary">Crear</button>
        </div>
      </form>
    </main>
    <!-- FOOTER -->
    <%-include('./partials/footer.ejs'); %>

  </div>

  <script>
    const isCreateScreen = true
  </script>

  <script>
    let success = '<%- JSON.stringify(success) %>';
    let error = '<%- JSON.stringify(error) %>';
    let message = '<%- JSON.stringify(message) %>';
  </script>
</body>

</html>